<!DOCTYPE html>
<html>
	<head>
		<title>Todo List</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
	</head>
	<body>
	    <div class="ui fixed inverted menu">
	        <div class="ui container">
	            <div class="header item"><i class="check circle outline big icon"></i>My Todos</div>
	            <a href="/" class="item">Todo Today</a>
	            <a href="/todos" class="item">All Todos</a>
	            <a href="/todos/new" class="item">New Todo</a>
	        </div>
	    </div>