<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Todo</div>
    <form class="ui form" action="/todos/<%= todo._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Todo item</label>
            <input type="text" name="todo[item]" placeholder="item" value="<%= todo.item %>">
        </div>
        <div class="field">
            <label>Category</label>
            <input type="text" name="todo[category]" placeholder="category" value="<%= todo.category %>">
        </div>
        <input class="ui big inverted purple button" type="submit">
    </form>
</div>

<% include ./partials/footer %>