<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Todo</div>
    <form class="ui form" action="/" method="POST">
        <div class="field">
            <label>Todo item</label>
            <input type="text" name="todo[item]" placeholder="item">
        </div>
        <div class="field">
            <label>Category</label>
            <input type="text" name="todo[category]" placeholder="category">
        </div>
        <div class="inline fields">
            <label>Repeat Todo?</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="todo[repeat]" value="true" id="repeatY">
                    <label for="repeatY">Yes</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="todo[repeat" value="false" id="repeatN" checked="checked">
                    <label for="repeatN">No</label>
                </div>
            </div>
        </div>
        <div class="inline fields">
            <label>Frequency</label>
            Every <input type="number" name="todo[frequency]" placeholder="frequency"> Days
        </div>
        <input class="ui big inverted purple button" type="submit">
    </form>
</div>

<% include ./partials/footer %>